<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Nous contacter
          </h2>
          <div class="contact-info">
            <p id="clickable"><i class="fa fa-map-marker"></i>55 Avenue Habib bougatfa Mannouba</p>
            <p id="clickable"><i class="fa fa-envelope"></i>skincareluxe@gmail.com</p>
            <p id="clickable"><i class="fa fa-phone"></i>+216-58-612-156</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Suivez Nous</h2>
          <div class="contact-info">
            <div class="social">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>

   

      <div class="col-lg-3 col-md-6">
        <div class="footer-widget">
          <h2>Secret Luxe Skincare</h2>
          <ul>
            <li><a routerLink="/acheter">Notre Boutique</a></li>
            <li><a routerLink="/livraison">Livraison</a></li>
            <li><a routerLink="/A_propos">A propos</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row payment align-items-center">
      <div class="col-md-6">
        <div class="payment-method">
          <h2>Nous acceptons:
          </h2>
          <img src="/assets/img/payment-method.png" alt="Payment Method" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="payment-security">
          <h2>Sécurisé par:
          </h2>
          <img src="/assets/img/godaddy.svg" alt="Payment Security" />
          <img src="/assets/img/norton.svg" alt="Payment Security" />
          <img src="/assets/img/ssl.svg" alt="Payment Security" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 copyright">
        <p>Copyright &copy; <a href="https://htmlcodex.com">Secret luxe skincare</a>. Tous les Termes sont reservées</p>
      </div>

      <div class="col-md-6 template-by">
        <p>Site Web <a href="https://htmlcodex.com">Secret luxe skincare</a></p>
      </div>
    </div>
  </div>
</div>
