<app-header></app-header>
<div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a>Acheter</a></li>
      
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Contact Start -->
    <div class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <h2>Notre Boutique :</h2>
                        <h3><i class="fa fa-map-marker"></i>117 Avenue Habib bougatfa Mannouba</h3>
                        <h3><i class="fa fa-envelope"></i>skincareluxe@gmail.com</h3>
                        <h3><i class="fa fa-phone"></i>+216-24-190-500</h3>
                        <div class="social">
                       
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
             
             
            </div>
        </div>
    </div>
    <!-- Contact End -->
<app-footer></app-footer>