<app-header></app-header>
<div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a>A propos</a></li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    
    <!-- Contact Start -->
    <div class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <h2 style="color:palevioletred">Avec SECRET LUXESKINCARE, vous accédez à un univers de confiance et de sérénité.</h2>
                        <div class="container">
                          
                              <h3 style="color:rgb(216, 171, 186)">Qui sommes-nous ?</h3>
                              <span style="font-size: 15px;">
                               <b> SECRET LUXESKINCARE </b> est la boutique en ligne de la marque Adéquation Beauté. Adéquation Beauté est un distributeur grossiste tunisien expérimenté (machines distribuées en notre nom avec garantie, SAV et conformité CE) soumis à toutes les réglementations tunisienes qui est la solution pour vous permettre d’accéder à des machines de qualité, efficaces et à prix incomparables. Cessez de vous endetter avec des machines trop chères (aux performances pourtant identiques) ! <br>
                                Par ailleurs, <b>SECRET LUXESKINCARE </b>vous permet d'acheter non seulement des machines haute technologie en toute sécurité mais aussi des consommables, des accessoires beauté pour combler tous les professionnels de l'esthétique mais aussi les particuliers qui, grâce à nos prix attractifs, peuvent accéder à des matériels professionnels pour un usage privé.<br>
                            </span>
                            <br>
                            <h3 style="color:rgb(216, 171, 186)">Pourquoi travailler avec nous ?</h3>
                            <span style="font-size: 15px;">
                                  <h4>  <b> Notre première force: </b></h4>
                                    Pour nous, l’être humain a vraiment de l’importance et nous sommes fidèles à nos valeurs: Qualité, prix, service, écoute, conseil et intégrité. Nous restons à votre écoute pour vous proposer la meilleure solution que ce soit en termes de machines, de matériels, d’accompagnement et de conseils personnalisés.<br>  
                                    Vous avez une question sur une machine ou besoin d'une formation: Contactez notre service clientèle au (+216) 24 190 500.
                                    <h4><b> Notre seconde force: </b></h4> 
                                    Nous validons toutes nos machines et nos matériels dans nos instituts partenaires afin de vous assurer fiabilité et efficacité au quotidien pour l’ensemble des matériels que nous distribuons.
                            </span>
                        </div>
                    </div>
                </div>
             
             
            </div>
        </div>
    </div>
    <!-- Contact End -->
<app-footer></app-footer>