
<div class="feature">
  <div class="container-fluid">
    <div class="row align-items-center">
      
       
      <div class="col-lg-4 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fab fa-cc-mastercard"></i>
          <h2>Payment Sécurisés</h2>
          <p>
            Nous disposons d'un systéme de cryptage SSL pour protéger vos données personnelles ainsi ue les moyens de paiement utilisés.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-truck"></i>
          <h2>Livraison Gratuite</h2>
          <p>
            Nous livrons dans toute la Tunisie .Nos délais de livraison sont de 24-48h pour les produits en stock et 7-20 jours en pré-commande.     
          </p>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-comments"></i>
          <h2>Service Client 24/7</h2>
          <p>
            Notre équipe est à votre disposition par téléphone au : 24 190 500 ou par e-mail à :skincareluxe@gmail.com. 
          </p>
        </div>
      </div>

    </div>
          <!-- Newsletter Start -->
          <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h3>PROFITEZ DE NOS OFFRES SPÉCIALES :</h3>
                    </div>
                    <div class="col-md-6">
                      <div class="form">
                            <input type="email" name="email" id="email"  placeholder="Votre email" #email>
                            
                             <button type="submit" (click)="abonnee()">Inscription</button>

                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->  
        <p></p>
        <p></p> 
  </div>
</div>
