<app-header></app-header>
<div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a>Livraison</a></li>
            </ul>
        </div>
    </div> 
    <!-- Breadcrumb End -->
    
    <!-- Contact Start -->
    <div class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-info">
                        <h2 style="color:palevioletred">Livraison</h2>
                        <div class="container">
                          
                              
                              <span style="font-size: 15px;">
                                    Le prix du transport dépend du volume des produits, du poids et de la zone d'expédition.<br>

                                    Pour tous les articles Machines Pro et Pour le particulier : expédition par TNT avec délai de livraison sous 48h/72h ouvrés.<br>
                                    
                                    Prix du transport en fonction du poids :<br>
                                    
                                   - Poids inférieur à 10kg = 20€ HT<br>
                                   - Poids entre 10 et 20kg = 30€ HT<br>
                                   - Poids > 20kg = 40€ HT<br>
                                    Pour tous les autres articles (consommables, accessoires, …) : expédition par Colissimo avec délai de livraison sous 72h ouvrés.<br>
                                    
                                    Prix du transport en fonction du poids :<br>
                                    
                                   - Poids inférieur à 0,250kg = 5€ HT<br>
                                   - Poids entre 0,250kg et 0,50kg = 6€ HT<br>
                                   - Poids entre 0,50kg et 1kg = 7€ HT<br>
                                   - Poids entre 1kg et 2,5kg = 8,5€ HT<br>
                                   - Poids entre 2,5kg et 5kg = 13,50€ HT<br>
                                   - Poids entre 5kg et 10kg = 20€ HT<br>
                                   - Poids entre 10kg et 15kg = 27€ HT<br>
                                   - Poids entre 15kg et 30kg = 30€ HT<br>
                                    TNT sera utilisé pour toutes les commandes > 30kg pour un prix de 50€ HT.<br>
                                    
                                    Le délai de livraison peut varier en fonction des retards du fabricant ou d'importation.<br>
                                    
                                    Les produits indiqués EN STOCK sont disponibles en permanence dans notre entrepôt (sauf cas exceptionnel). Les délais de livraison en jours ouvrables, à l'exception des problèmes de transport qui n'incombent pas à Sphere Beaute sont les suivants :<br>
                                    
                                    -France: 3 – 4 jours<br>
                                    - Belgique / Luxembourg: 3-5 jours<br>
                                    - Suisse: 4/7 jours<br>
                                    - Autres destination: nous consulter<br>
                                    Ce délai s'applique à partir de la réception du paiement sur notre compte bancaire.<br>
                                    
                                    NOTE: Sphere Beauté s'efforcera de respecter ces délais, mais en cas de retard, dû à des problèmes de transport en dehors de la société, cela n'assurera pas d'annulation de la commande ni aucune indemnité.<br>
                                    
                                    Pour les produits en rupture de stock, le délai de livraison peut varier entre 4 jours et 6 semaines. Vérifiez le délai de livraison via le formulaire de contact.<br>
                                   
                            </span>
                           
                          
                        </div>
                    </div>
                </div>
             
             
            </div>
        </div>
    </div>
    <!-- Contact End -->
<app-footer></app-footer>